input {
    background: #373737;
    border: 1px solid #2c2c2c;
    box-shadow: 0 1px 1px rgba(255, 255, 255, .1);
    color: #fff;
    cursor: text;
    font-size: 12px;

    &:focus {
        outline: 0;
    }

    &[type=text] {
        padding: 0 4px;
    }

    &[type=number] {
        padding: 0 0 0 4px;
    }

    &:disabled {
        background: #494949;
        border-color: #3f3f3f;
        box-shadow: 0 1px 1px rgba(255, 255, 255, .05);
        cursor: default;
    }
}

.input-columns {
    display: flex;
    flex-direction: row;

    label {
        display: block;
        font-size: 13px;
        line-height: 20px;
    }

    input {
        height: 20px;
        width: 100%;
    }

    > div > * + * {
        margin-top: 4px;
    }
}

.hex-wrap {
    position: relative;

    .hex-input {
        padding-right: 16px;
    }

    .hex-spinner {
        bottom: 1px;
        display: none;
        position: absolute;
        right: 1px;
        top: 1px;
    }

    input:focus + .hex-spinner,
    &:hover .hex-spinner {
        display: block;
    }
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin-right: 0;
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
.hex-wrap .hex-spinner {
    color: #fff;
    cursor: pointer;
    text-align: center;
    width: 16px;

    &:before,
    &:after {
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        content: '';
        cursor:pointer;
        display: block;
        height: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }

    &:before {
        border-bottom: 5px solid #fff;
        pointer-events: none;
        top: 2px;
    }

    &:after {
        border-top: 5px solid #fff;
        bottom: 2px;
        pointer-events: none;
    }
}