input {
    cursor: text;
}
.input-columns {
    display: flex;
    flex-direction: row;
    label {
        display: block;
        font-size: 13px;
        line-height: 20px;
        + label {
            margin-top: 4px;
        }
    }
    input {
        height: 20px;
        width: 100%;
        + input {
            margin-top: 4px;
        }
    }
}