$panel-color:       #535353;
$panel-color-dark:  #3a3a3a;
$background-color:  darken($panel-color, 17.5);
$highlight-color:   #5080B0;


$font-default: "Roboto", sans-serif;
$font-monospace: 'DejaVu Sans Mono', 'DejaVu Mono', monospace;
