$panel-color:       #535353;
$background-color:  darken($panel-color, 17.5);
$highlight-color:   #5080B0;

$menu-background-color-hover:   $highlight-color;
$menu-text-color:               #D8D4D4;
$menu-text-color-hover:         #FFF;

$font-default: "Roboto", sans-serif;
$font-monospace: 'DejaVu Sans Mono', 'DejaVu Mono', monospace;