@import 'variables';
@import 'base';
@import 'input/input';
@import 'menu';
@import 'ui';
@import 'dialog';

html {
    font-family: $font-default;
}

body {
    background: $background-color;
    color: #fff;
    font-size: 16px;
}

#app {
    height: 100%;
    width: 100%;
}

#workspace {
    flex-direction: column;
    display: flex;
    flex: 1;
}

tree-view {
    flex: 1;
    font-family: $font-monospace;
    
    &:not(.active) {
        display: none;
    }
}

@-moz-document url-prefix() {
    tree-view {
        display: flex;
        flex-direction: column;
        outline: 0;
        overflow: hidden;
        position: relative;
    }
}

.hidden {
    display: none !important;
}
