//GENERAL
$menu-font-size:                14px;
$menu-color-hover:              #fff;
$menu-item-padding:             0 8px;
$menu-item-height:              24px;
$menu-item-min-width:           128px;
//BAR
$menu-bar-background-color:     $panel-color;
//BAR MENU
$menu-text-shadow:              -1px -1px rgba(0, 0, 0, .33);
$menu-background-color:         darken($menu-bar-background-color, 10);
$menu-border-color:             darken($menu-background-color, 10);
$menu-background-color-hover:   #5080B0;
$menu-color:                    #d8d4d4;
$menu-separator-style:          2px groove rgba(lighten($menu-background-color, 15), .2);
$menu-separator-margin:         5px 5px;
//CONTEXT MENU
$menu-popup-background-color:   #d8d4d4;
$menu-popup-color:              #333;
$menu-popup-padding:            4px;
$menu-popup-separator-style:    1px solid rgba(lighten($menu-background-color, 15), .2);
$menu-popup-separator-margin:   5px 0;

/**
 * Generic menu styles
 */

.menu {
    display: block;
    font-size: $menu-font-size;
    line-height: $menu-item-height;
    box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, .25);

    .menu {
        display: none;
        position: absolute;
    }

    &.menu-navigating .menu-access-key {
        text-decoration: underline;
    }
}

.menu-item {
    color: $menu-color;
    cursor: pointer;
    display: block;
    padding: $menu-item-padding;
    position: relative;
    white-space: nowrap;

    &.disabled {
        color: darken($menu-color, 15%);
        cursor: default;
    }

    &:not(.disabled):hover,
    &:not(.disabled).active-menu {
        background: $menu-background-color-hover;
        box-shadow: 0 0 0 rgba($menu-background-color-hover, .75);
        color: $menu-color-hover;

        > .menu {
            display: block;
        }
    }

    &.parent:after {
        border-bottom: 4px solid transparent;
        border-left: 6px solid $menu-color;
        border-top: 4px solid transparent;
        content: '';
        cursor: pointer;
        height: 0;
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translate(0, -50%);
        width: 0;
    }

    .menu {
        left: 100%;
        top: 0;
    }

    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;

    &[data-accelerator]:after {
        color: darken($menu-color, 15%);
        cursor: inherit;
        content: attr(data-accelerator);
        margin-left: 8px;
        flex: 0 0 auto;
    }

}

.menu-separator {
    border-top: $menu-separator-style;
    display: block;
    margin: $menu-separator-margin;
}

/**
 * Menu Bar Style
 */

.application-menu {
    display: block;
    margin-bottom: 1px;
    background: $menu-bar-background-color;
    position: relative;
    z-index: 1000;
    flex-shrink: 0;

    .menu-item {
        text-shadow: $menu-text-shadow;

        .menu {
            background: $menu-background-color;
            border: 1px solid $menu-border-color;
            min-width: $menu-item-min-width;
        }
    }

    > .menu {
        box-shadow: 0;

        > .menu-item {
            float: left;

            &:hover,
            &.active-menu {
                $color: rgba(0, 0, 0, .5);
                box-shadow: inset  0 1px 0 $color,
                            inset  1px 0 0 $color,
                            inset -1px 0 0 $color;
            }

            &.parent:after {
                display: none;
            }

            > .menu {
                left: 0;
                top: 100%;
            }
        }

    }
}

/**
 * Context Menu Style
 */

.context-menu-backdrop {
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.context-menu {
    z-index: 10000;
    display: block;
    position: absolute;
    background: $menu-background-color;
    border: 1px solid $menu-border-color;
    min-width: $menu-item-min-width;
    padding: $menu-popup-padding 0;
    font-size: 13px;

    .menu-separator {
        border-top: $menu-popup-separator-style;
        margin: $menu-popup-separator-margin;
    }

    .menu-item {
        color: $menu-color;
        padding: 4px 8px;

        &.parent:after {
            border-left-color: $menu-popup-color;
        }
    }
}
