{
  "presets": [
    ["env", {
      "loose": true,
      "plugins": false,
      "targets": {
        "node": 6,
        "browsers": ["> 1%", "last 2 versions"]
      },
      "useBuiltIns": true
    }],
    "stage-3",
    "react"
  ],
  "plugins": ["lodash", "transform-class-properties"],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    },
    "development": {
      "plugins": []
    }
  }
}
