@mixin spinner {
  width: 16px;

  div {
    position: absolute;
    right: 0;
    width: 100%;
    height: 50%;
    cursor: pointer;

    &:before {
      border: solid transparent;
      border-width: 0 3px;
      content: '';
      display: block;
      height: 0;
      left: 50%;
      margin-left: -1px;
      position: absolute;
      transform: translateX(-50%);
      pointer-events: none;
    }

    &:first-child {
      top: 0;
      &:before {
        top: 4px;
        border-bottom: 4px solid #666;
      }
      &:hover:before {
        border-bottom-color: #eee;
      }
    }

    &:last-child {
      bottom: 0;
      &:before {
        bottom: 4px;
        border-top: 4px solid #666;
      }
      &:hover:before {
        border-top-color: #eee;
      }
    }
  }
}

.input-spinner-wrap {
  position: relative;

  input {
    padding-right: 16px;
    &.hidden + .input-spinner {
      display: none;
    }
    &[disabled] + .input-spinner,
    &[readOnly] + .input-spinner {
      display: none !important;
    }
    &:focus + .input-spinner,
    &:hover + .input-spinner {
      display: block;
    }
  }

  .input-spinner {
    @include spinner;
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    top: 0px;
    &:hover {
      display: block;
    }
  }
  .inputs & {
    margin-top: 4px;
    input {
      margin-top: 0;
    }
  }
}

// Hide number spinner buttons
input[type=number] {
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: block;
    margin-right: 0;
    position: relative;
  }
}
