@import 'button';
@import 'spinner';

input,
select {
    font-family: $font-monospace;
    background: #373737;
    border: 1px solid #2c2c2c;
    box-shadow: 0 1px 1px rgba(255, 255, 255, .1);
    color: #fff;
    font-size: 12px;

    &:focus {
        outline: 0;
        background: #404040;
    }

    &[readonly] {
        user-select: initial;
        &:focus {
            background: #505050;
        }
    }

    &:disabled,
    &[readonly] {
        background: #494949;
        border-color: #3f3f3f;
        box-shadow: 0 1px 1px rgba(255, 255, 255, .05);
        cursor: default !important;
    }
}

input {
    &[type=text] {
        padding: 0 4px;
    }

    &[type=number] {
        padding: 0 0 0 4px;
    }

    &[type=text],
    &[type=number] {
        cursor: text;
        padding: 0 0 0 4px;
        height: 20px;
    }
}

select {
    height: 20px;
    cursor: pointer;

    option {
        cursor: pointer;
    }

    &[size] {
        cursor: default;
        height: auto;
    }
}

.input-columns {
    display: flex;
    flex-direction: row;

    > div:first-child {
        margin-right: 8px;
    }

    > div:last-child {
        flex: 1 1 auto;
    }
}

.inputs {
    label {
        display: block;
        font-size: 13px;
        line-height: 20px;
    }

    input,
    select,
    button {
        width: 100%;
    }

    label,
    input,
    select,
    button {
        margin-top: 4px;
    }
}
