*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}

* {
  cursor: default;
  &:before,
  &:after {
    cursor: inherit;
  }
}

html {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
a {
  color: #40c0e0;
  text-decoration: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
