$tree-item-height: 20px;

.directory-tree {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tree-view {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.tree-header {
  border-bottom: 1px solid #000000;
  display: flex;
  flex: 0 0 24px;
  font-size: 0.75rem;
}

.tree-header-col {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0 8px;
  line-height: 24px;
  font-weight: bold;
}

.tree-header-col.sorted:after {
  content: '';
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid rgba(255, 255, 255, 1);

  /*reverse order
  border-top: 12px solid rgba(255, 255, 255, 1);
  border-bottom: 0 solid transparent;
  */
}

.tree-content {
  position: relative;
  overflow: auto;
  flex: 1;
  background: $tree-background-color;
  outline: 0;
}

.tree-item {
  white-space: nowrap;
  position: relative;
  clear: both;
  min-width: fit-content;
  min-height: $tree-item-height;

  &.focused:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: $tree-item-height;
    background: darken($tree-background-color-selected, 15%);
    .tree-content:focus & {
      background: $tree-background-color-selected;
    }
  }

  &.selected > .tree-col .tree-icon,
  &.selected > .tree-row .tree-icon {
    color: $tree-icon-color-selected;
  }

}

.tree-col, .tree-row {
  position: relative;
  overflow: hidden;
  line-height: $tree-item-height;
  white-space: nowrap;
  padding: 0 8px;
  display: inline-block;
  text-overflow: ellipsis;
  vertical-align: top; //Fix align issue caused by overflow: hidden
}

.tree-rows:not(.open) {
  display: none;
}

.tree-icon {
  color: $tree-icon-color;
  line-height: $tree-item-height;
  height: 16px;
  width: 16px;
  text-align: center;
  margin-right: 8px;
  vertical-align: top;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  &[data-count]:before {
    content: attr(data-count);
    position: absolute;
    text-align: center;
    line-height: 22px;
    font-family: $font-monospace;
    color: #000;
    font-size: 9px;
    font-weight: bold;
    width: 15px;
  }
}

.tree-icon[style*="background-image:"] {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tree-handle {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  width: 6px;
  cursor: col-resize;

  &:before {
    content: '';
    position: absolute;
    top: 3px;
    bottom: 2px;
    right: 0;
    width: 1px;
    background: rgba(255,255,255,0.25);
    cursor: col-resize;
  }
}
