//-
    The following elements must be present:
        tree-view#mainTree
            The element for the treeview
        texture-viewer#texture-preview
            The element for the texture preview
        #preview-fields
            The container of the image settings
    Layout Elements
        ui-columns
            child elements are placed horizontally (in columns)
        ui-rows
            child elements are placed vertically (in rows)
        ui-panel
            wraps child elements inside a panel
        ui-container
            wraps child elements inside a box with a title
        ui-handle
            creates a handle between the previous and next element, allowing you to resize them
    Layout Attributes
        ui-panel
            data-size
                Assign a fixed width/height to the panel
        ui-container
            data-size
                Assign a fixed width/height to the container
            data-title
                Assign a title to the container
ui-columns
    //tree-view#mainTree
    #workspace
    ui-handle
    ui-panel(data-size='256px')
        ui-container#preview-fields(data-title='Image Settings', data-size='auto')
        ui-container(data-title='Image Preview')
            texture-viewer#texture-preview
ui-handle
ui-panel(data-size='auto')
    ui-columns
        ui-container(data-title="Conversion Test", data-size='auto')
            p The selected texture is converted from binary, to pixel data, and then back to binary.
            p Afterwards the initial binary is compared with the result to see if it is intact after converting both ways.
            button#texture-test-button Test
            p#texture-test-response
